{% extends 'dash/base.html' %}
{% block content-header %}
      <h1>
        Dashboard
        <small>Hydra > Database{{ db_log }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-database"></i> Dashboard</a></li>
        <li class="active">DB</li>
      </ol>
{% endblock %}


{% block content-main %}

    <div id="hadoop_info">
        {% autoescape off %}{{ hadoop_status }}{% endautoescape %}
    </div>
{% endblock %}

{% block js-include %}
<!--
    <script>
          url: "/api/hadoop_status",
        $.ajax({
          success: function( result ) {
            $("#hadoop_info").html( result );
          }
        });
    </script>
-->
{% endblock %}